<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liugaorong.blog.admin.mapper.TagCloudMapper">

    <resultMap id="BaseResultMap" type="com.liugaorong.blog.admin.TagCloud">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="aboutId" column="about_id" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,about_id,
        version,is_deleted
    </sql>
</mapper>
